{% extends "base.html" %}

{% block style %}
<body>
<div class="jumbotron">
    <div class="container text-center">
      <h1 class="fw-light">Flask Website Project</h1>
      <h2 style="font-size:30px;">Stack</h2>
        <div class="container-sm" width="10%">
            <div class="row align-items-start">
              <div class="col">
               <p>- Flask</p>
              </div>
              <div class="col">
                <p>- Python</p>
              </div>
              <div class="col">
                <p>- Html</p>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col">
                <p>- CSS</p>
              </div>
              <div class="col">
                
              </div>
              <div class="col">
                
              </div>
            </div>
            <div class="row align-items-end">
              <div class="col">
                
              </div>
              <div class="col">
               
              </div>
              <div class="col">
                
              </div>
            </div>
          </div>
          <p>
            <a href="http://127.0.0.1:5000/about" class="btn btn-success my-2">Github</a>
          </p>
        </div>
  </div>
  <div class="container-fluid bg-3 text-center ">    
    <h2 style="font-size:30px;">Projects</h2>
    <div class="album py-5">
      <div class="container">        
          </div>
      </div>
    </div>
  </div>
  </body>
</body>
{% endblock %}

{% block header %} 
{% endblock %}

{% block body %}
{% endblock %}

