
{% extends "base.html" %}

{% block style %} 
<body>


    <div class="jumbotron">
      <div class="container text-center">
        <h1 class="fw-light">Hi, I'm Lewis</h1>
            <p class="lead text-muted">An aspiring software engineer.</p>
            <p>
              <a href="http://127.0.0.1:5000/about" class="btn btn-primary my-2">About Me</a> 
              <!--<a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
            </p>
      </div>
    </div>
      
    <div class="container-fluid bg-3 text-center ">    
      <h2>Projects</h2><br>
      <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                    <image src="{{ url_for('static', filename='nichecycle.png')}}" alt="Stickman" width="100%" height="225" style="border:0.5px solid black">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="https://github.com/CodeLew93/Nichecycle"><button type="button" class="btn btn-sm btn-outline-secondary">Github</button></a>
                            <a href="http://127.0.0.1:5000/nichecycle"><button type="button" class="btn btn-sm btn-outline-secondary">Project Page</button></a>
                        </div>
                        <small class="text-muted">Stack : C#, .net, Xamarin, Firebase</small>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                    <image src="{{ url_for('static', filename='website.png')}}" alt="Stickman" width="100%" height="225" style="border:0.5px solid black">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="https://github.com/CodeLew93/Portfolio-Website"><button type="button" class="btn btn-sm btn-outline-secondary">Github</button></a>
                            <a href="http://127.0.0.1:5000/flaskwp"><button type="button" class="btn btn-sm btn-outline-secondary">Project Page</button></a>
                        </div>
                        <small class="text-muted">Stack : C#, .net, Xamarin, Firebase</small>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Machine Learning</text></svg>                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group ">
                            <a href="#"><button type="button" class="btn btn-sm btn-outline-secondary">Github</button></a>
                            <a href="http://127.0.0.1:5000/flaskwp"><button type="button" class="btn btn-sm btn-outline-secondary">Project Page</button></a>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Machine Learning</text></svg>
    
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#"><button type="button" class="btn btn-sm btn-outline-secondary">Github</button></a>
                            <a href="http://127.0.0.1:5000/mlproject"><button type="button" class="btn btn-sm btn-outline-secondary">Project Page</button></a>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
    
                <div class="col">
                    <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Save Food App</text></svg>
    
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#"><button type="button" class="btn btn-sm btn-outline-secondary">Github</button></a>
                            <a href="http://127.0.0.1:5000/savefood"><button type="button" class="btn btn-sm btn-outline-secondary">Project Page</button></a>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Sudoko Solver</text></svg>
    
                        <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                            <a href="#"><button type="button" class="btn btn-sm btn-outline-secondary">Github</button></a>
                            <a href="http://127.0.0.1:5000/sudoko"><button type="button" class="btn btn-sm btn-outline-secondary">Project Page</button></a>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    </body>
{% endblock %}




</html>

